/*.heading{
	color:blue;
}
ul{
	color: red;
}
ul li{
     font-size: 2rem;
     }
ul img{
	width: 15rem;
	height: 15rem;
	padding:1rem 3rem;
}
*/
/*.heading{
	font-size:5rem;
	text-align: center;
	padding: 5rem 2rem;
	background-color: black;

}*/

/*body{*/
	/*font-family: 'Itim', cursive;*/
	/*background-color: #cfcfc9	; emoji background-color*/
	/*background-color: #6cebe2;*/
/*}*/

/*Keeper App styles*/
/*
h1{
	font-size:3rem;
	margin:auto -16px;
	color:#fff;
	background-color:#f5ba13;
    padding: 16px 32px;
    margin-top: -8px;
    width: 100%;
}
div .Mydiv{
	box-sizing: border-box;
	border-radius: 7px;
	box-shadow: 0px 2px 5px;	
	padding: 10px;
	width: 230px;
	height:200px;
	margin:16px;
	float: left;	
    cursor:pointer;
  }
  .Mydiv h3{
  	font-size: 1.4rem;
  }
.Mydiv p{
 font-size: 1.2rem;
 margin-bottom: 10px;
 white-space: pre-wrap;
 word-wrap: break-word;
}

footer{
	margin-top: 31.9rem;
	text-align: center;
	opacity: 0.6;
}

*/
/*props style*/
/*.Datalist {
	background-color: #f5ec45;
	margin: 0px;
	margin-top: 1rem;
}
.Details {
	box-sizing: border-box;
	border-radius: 7px;
	box-shadow: 0px 2px 5px;	
	padding: 10px;
	width: 240px;
	margin:16px;
	float: left;	
    cursor:pointer;
    align-items: center;
  }
.Details h2{
	background-color:#f5ec45;
    margin:auto -10px;
    border-radius: 5px;
    margin-top:-8px;
 } */

 /*emoji Styles*/

 /*.Mainhead{
 	text-align: center;
 	background-color: #f0f0a8;
 	margin: 0px;
    font-size: 3.9rem;
 }
 .Emojidiv{
 	background-color:#e6e6b3;
 	color: brown;
 	width:400px;
 	height:300px;
 	padding: 1.5rem;
 	box-sizing: border-box;
 	border-radius: 2rem;
 	margin:16px;
	float: left;	
 }
 #image{
 font-size: 5rem;
 color: black;
 display:  block;
 text-align: center;
}
h3{
	font-size: 2rem;
	margin:10px;
	color: #802000;
	text-align: center;
}
h4{
	font-size:1rem;
	color:  #001a00;
	margin:5px;
}*/

/*login form styles*/

/*.Myform{
	/*border: 1px solid black;*/
	/*text-align: center;*/
	/*margin: 5rem;*/
	/*margin-top: 10rem;*/
/*}
.Myinput{
	margin:1.5rem;
	padding: 0.6rem;
}
.Mybtn{
	border-radius: 0.5rem;
	border: 0px;
	font-size: 1.3rem;
	background-color: white;
}
.Mybtn:hover{
	cursor: pointer;
	background-color: black;
	color: white;
}
.Msg{
	text-align: center;
	margin:5rem;
}*/


/* Todo list and Display input name styles

.FormClass{
	text-align: center;
	margin: 5rem;
	padding: 5rem;
	text-decoration: line-through;
}
.FormPart input{
	margin:1rem;
	padding: 0.6rem;
}
.FormPart button {
	border-radius: 0.5rem;
	border: 0px;
	font-size: 1.3rem;
	background-color: white;
}
.FormPart button:hover{
	cursor: pointer;
	background-color: black;
	color: white;
}

/*test (employee data) styles*/

h1{
	font-size:3rem;
	margin:auto -16px;
	color:#fff;
	background-color:#f5ba13;
    padding: 16px 32px;
    margin-top: -8px;
}
 
.Mynav{
	background-color: #e0cdcc;
	padding-left: 0px;
}
.nav-item{
	font-size: 1rem;
	margin:0.8rem;
	text-align: center;
}
.nav-item:hover{
	color:white;
	background-color:black; 
	cursor: pointer;
}
.nav-item span{
 padding-left: 2rem;
 float: left;
}